{{define "admin/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>后台首页</h2>
    <li>管理</li>
    <a href="/admin/supplierop">供应商</a>
    <a href="/admin/staffop">员工</a>
    <a href="/admin/goodsop">商品</a>
    <a href="/admin/formop">单号</a>
    <br><br>
    <li>统计</li>
    <a href="/admin/staffperformance">员工绩效</a>
    <a href="/admin/suppliergoods">供应商供货</a>
</body>
</html>
{{end}}