{{define "/admin/suppliergoods"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>员工绩效</h2>
    <div id="main">
        <table>
            <tr>
                <td>供应商编号</td>
                <td>供应商名</td>
                <td>商品种类数</td>
                <td>货物总数</td>
            </tr>
            {{range $key,$value := .suppliergoods}}
                <tr>
                    <td>{{$value.Supplierid}}</td>
                    <td>{{$value.Suppliername}}</td>
                    <td>{{$value.Goodsspeciesamount}}</td>
                    <td>{{$value.Allgoodsamount}}</td>
                </tr>
            {{end}}
        </table>
    </div>
    <br><br>
    <a href="/admin">返回后台首页</a>
</body>
</html>
{{end}}