{{define "login_judge.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{if eq .Nowloginuser.Status 0}}
    <h2>登陆失败</h2>
    <form action="/login" method="post">
        用户名:<input type="text" name="username"/><br><br>
        密码:<input type="password" name="password"/><br><br> 
        <input type="submit" value="登录">
    </form>
    {{else}}
        <a href="/work/myopform">{{.Nowloginuser.Username}}</a>,登陆成功
        <a href="/logout">注销</a>
        <br>
        <a href="/work/gowork">上班</a>
    {{end}}
</body>
</html>
{{end}}